{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block heading %} {% load static %}
    <title>Subscriber</title>
    <link rel="stylesheet" href="{% static 'subs.css' %}" />
    {% endblock heading %}
  </head>
  <body>
    {% block content %}
    <div class="row">
      <div class="col col-sm-11 col-md-11 offset-md-1 col-lg-5">
        <h1 class="h1">Subscriber</h1>
        <form class="myform" method="POST">
          {% csrf_token %}
          {{ form }}
          <p class="email-exist">Email already exist!</p>
          <p class="email">Email not valid!</p>
          <p class="success">You are now a subscriber!</p>
          <button id="submit" type="submit" class="btn btn-outline-secondary">
            Kirim
          </button>
          <!-- <button id="profile" class="btn btn-outline-secondary" onclick="location.href=/profile/">Profile</button> -->
        </form>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
