{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
  {% block header %}
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello!</title>
  <link rel="stylesheet" href="{% static 'landingPG.css'%}">
  {% endblock header %}
<body class="body">
  {% block content %}
      <div class="row">
          <div class="col col-sm-11 col-md-11 offset-md-1 col-lg-5">
              <h1 class="h1">Hello, Apa kabar?</h1>
              <form class="myform" method="POST">
                  {% csrf_token %}
                  {{ form }}
                  <button id="submit" type="submit" class="btn btn-outline-secondary">Submit</button>
                  <!-- <button id="profile" class="btn btn-outline-secondary" onclick="location.href=/profile/">Profile</button> -->
              </form>
          </div>
          <div class="col col-sm-11 col-md-11 offset-md-1 col-lg-5">
              {% for satuan in data %}
              <div class="data">
                  <article class="status">{{ satuan.status }}</article>
                  <article class="status">{{ satuan.created }}</article>
                  </div>
              {% endfor %}
          </div>
      </div>
  {% endblock content %}
</body>
</html>