{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %} {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    {% endblock header %}
  </head>

  <body>
    {% block content %}
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.0-9/19420803_1701370099891532_2830396182202244264_n.jpg?_nc_cat=104&_nc_ht=scontent.fcgk18-2.fna&oh=fd8d74242e94851f2d0cab530c486ce6&oe=5D29A54D"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Saul Andre Lumban Gaol</h5>
            <p class="card-text">1706023555</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="accordion aktivitas-wrapper">
          <h3 class="title">Aktivitas</h3>
          <p class="detail desc-aktivitas">Sibuk Nugas</p>
        </div>
        <div class="accordion pengalaman-wrapper ">
          <h3 class="title">Organisasi</h3>
          <p class="detail desc-pengalaman">Perkantas Jakarta</p>
        </div>
        <div class="accordion prestasi-wrapper">
          <h3 class="title">Prestasi</h3>
          <p class="detail desc-prestasi">Nihil saya kang</p>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
