.accordion {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
}
.dark-accordion {
  background-color: #343a40;
  border: 1px solid #171717;
}
.dark-titleAcc {
  color: #f6f6f6;
}
.dark-detail {
  color: #f6f6f6;
}
