{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block heading %}
    <title>Login</title>
    {% endblock heading %}
  </head>
  <body>
    {% block content %}
    <h1>Login!</h1>
    <form method="POST" action="/accounts/login/">
      {% csrf_token %}
      {{ forms }}
      <input type="submit" name="" id="" value="login" />
    </form>
    {% endblock content %}
  </body>
</html>
