<!DOCTYPE html>
<html lang="en">
<head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Welcome!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Status <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subs/">Subscriber</a>
            </li>
            <li class="nav-item dropdown justify-content-end">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theme
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item light-theme">Light</a>
                <a class="dropdown-item dark-theme">Dark</a>
              </div>
            </li>
            <li class="nav-item">
              <form action="/accounts/logout/" method="POST">
              {% csrf_token %}
              <button type="submit">Log Out</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
</body>
</html>